@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&family=Protest+Strike&display=swap');


body{
    background-color: hsl(47, 88%, 63%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#parent {
    padding: 3vh;
    background-color:hsl(0, 0%, 100%);
    height: fit-content;
    border-radius: 20px;
    margin: 5vh;
    box-shadow: 3vh 3vh;
    border: 1px solid black;
    width: 50vh;
}
#parent p{
    font-family: Figtree;
}
#img{
    width: 50vh;
    border-radius: 20px;
}

#Learning{
    border-radius: 6px;
    margin-top: 3vh;
    margin-bottom: 0;
    background-color: hsl(47, 88%, 63%);
    display: inline-block;
    
    padding: 2vh;
    font-weight: 800;
}
#title{
    font-size: 20px;
    font-weight: 800;
    color: hsl(0, 0%, 7%);

}
#paragraph{
    font-size: 16px;
    color: hsl(0, 0%, 42%);
}

#footer{
    display: flex;
    flex-direction: row;
}
#footer img{
    
    width: 40px;
    height: 40px;
    align-self: center;
    padding-right: 2vh;
}